@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-surface-border;
  }

  body {
    @apply overflow-hidden;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-surface-border;
  }
}

@layer utilities {
  .app-drag {
    -webkit-app-region: drag;
    app-region: drag;
  }

  .app-no-drag {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }
}